.panel-body.filters
  = render 'filters'
%table.table
  %thead
    %tr
      %th= sort_link(@search, :id, t('activerecord.attributes.interest.id'))
      %th= sort_link(@search, :name, t('activerecord.attributes.interest.name'))
      %th= sort_link(@search, :created_at, t('activerecord.attributes.interest.created_at'))
      %th.actions
        = t('view.actions')
  %tbody
    = render @interests
