%tr{class: place.is_active ? 'active' : 'passive'}
  %td= place.id
  %td= place.name
  %td= place.phone
  %td= mail_to place.email, place.email
  %td= place.is_active ? t('view.active') : t('view.passive')
  %td= place.created_at
  %td.action
    = link_to([:hq, place], class: 'btn btn-success', data: { toggle: :tooltip}, title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    = link_to(edit_hq_place_path(place) , class: 'btn btn-info', data: { toggle: :tooltip }, title: t('tooltips.edit')) do
      %i.icon-edit
    = link_to([:hq, place], class: 'btn btn-danger', method: :delete, data: { confirm: t('tooltips.are_you_sure'), toggle: :tooltip }, title: t('tooltips.delete')) do
      %i.icon-trash
    - if place.is_active
      = link_to(toggle_is_active_hq_place_path(place), class: 'btn btn-danger', method: :post, data: { toggle: :tooltip}, title: t('view.make_passive') ) do
        %i.icon-ban-circle
    - else
      = link_to(toggle_is_active_hq_place_path(place), class: 'btn btn-info', method: :post, data: { toggle: :tooltip}, title: t('view.make_active')) do
        %i.icon-check
