.col-lg-3
  .panel.panel-default
    .panel-heading
      %i.icon-edit.icon-large
      = t('tt.show', resource_name: User.model_name.human)
    .panel-body.text-center
      = image_tag @profile.avatar(:medium)
      %hr
      %strong
        = @profile.name
        = @profile.surname
      %br
      = @profile.email
      %br
      - if @profile.interests.present?
        %br
        %strong
          = "İlgi alanları"
        %br
          - @profile.interests.each do |int|
            %i
              = " - " + int.name
.col-lg-4
  .panel.panel-default
    .panel-heading
      %i.icon-edit.icon-large
      = "Gezmiş Olduğun Yerler"
    .panel-body
      - @profile.places.order(created_at: :DESC).each do |plc|
        - if plc.is_active == true
          .col-lg-5
            = link_to place_path(plc) do
              = image_tag plc.images.second.photo(:thumb)
          .col-lg-7
            %h4
              = link_to plc.name, place_path(plc)
            = plc.description
          .col-lg-12
            %hr
.col-lg-2
  .panel.panel-default
    .panel-heading
      %i.icon-edit.icon-large
      = "Kullandığın Oylar"
    .panel-body
      - @u_rates.each do |r|
        %strong
          = Place.find(r.rateable_id).name
          = " :"
        = r.stars.round(2)
        %strong
          = "Oy Türü : "
        = r.dimension
        %hr
.col-lg-3
  - if @profile.comments.any?
    .panel.panel-default
      .panel-heading
        %i.icon-edit.icon-large
        = t('tt.show', resource_name: Comment.model_name.human)
      .panel-body
        - @profile.comments.each do |c|
          = show_for c do |sc|
            = sc.attribute :sender_id do
              = link_to User.find(c.sender_id).name, user_profile_path(User.find(c.sender_id))
            = sc.attribute :body
            - if c.receiver_id == current_user.id
              .btn
                = link_to 'Yazıyı Sil', user_comment_path(@profile, c), method: :delete, class: 'btn btn-danger'
            %hr
  - if @profile.id != current_user.id
    .panel.panel-default
      .panel-heading
        %i.icon-edit.icon-large
        = "Duvarına Yaz"
      .panel-body
        = simple_form_for ([@profile, @profile.comments.build] )do |f|
          = f.error_notification
          .form-inputs
            = f.input :body
          .form-actions
            = f.button :submit, class: 'btn btn-primary'
.col-lg-12
  - if @profile.id == current_user.id
    .panel-footer
      = link_to root_path, class: 'btn-link' do
        %i.fa.fa-arrow-left
        = t('btn.back')
      = link_to edit_user_profile_path(@profile), class: 'btn btn-link' do
        %i.fa.fa-pencil
        = t('navbar.edit_profile_info')