- if @place.images.count != 0
  - ic = @place.images.count

  .container.col-lg-6.centered.height_fix_show
    %h2
      = @place.name
      - if current_user
        - unless current_user.place_ids.include?(@place.id)
          .pull-right
            = link_to t('navbar.add_place'), place_visit_path(@place), method: :put, class: 'btn btn-info'
    %hr
    #myCarousel.carousel.slide{"data-ride" => "carousel", style: 'overflow: hidden'}
      %ol.carousel-indicators
        - for i in 0...ic
          %li.active{"data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
      .carousel-inner
        - count = 0
        - @place.images.each do |img|
          - count += 1
          - if count == 1
            .item.active
              %img{:alt => @place.name, :src => img.photo(:large)}/
              .carousel-caption
                %h3
                  = @place.name
                %p
                  = @place.city.name + " - "
                  = @place.subcategory.name
          - else
            .item
              %img{:alt => @place.name, :src => img.photo(:large)}/
              .carousel-caption
                %h3
                  = @place.name
                %p
                  = @place.city.name + " - "
                  = @place.subcategory.name
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only Önceki
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only Sonraki

    %hr

  .col-lg-6
    .panel.panel-default
      .panel-heading
        %i.icon-edit.icon-large
        = t('tt.show', resource_name: Place.model_name.human)
      .panel-body
        .col-lg-7
          = show_for @place do |s|
            = s.attribute :name
            = s.attribute :address
            = s.attribute :phone
            = s.attribute :email
            = s.attribute :description
            %strong
              = "Kategori Adı"
            %br
              = @place.subcategory.name
            %strong
              = "Bulunduğu Şehir"
            %br
              = @place.city.name
          - if @a_r.present?
            %strong
              = "Tavsiye Puanı"
            %br
              = @a_r.round(2)
              %strong
                = " / 7"
          - if @place.subcategory.category.name == "Food" and @t_r.present?
            %strong
              = "Lezzet Puanı"
            %br
              = @t_r.round(2)
              %strong
                = " / 7"
          - if @place.subcategory.category.name == "Food" and @s_r.present?
            %strong
              = "Servis Puanı"
            %br
              = @s_r.round(2)
              %strong
                = " / 7"
          - if (@place.subcategory.category.name == "Outdoors" or @place.subcategory.category.name == "Art & Entertainment") and @f_r.present?
            %strong
              = "Eğlence Puanı"
            %br
              = @f_r.round(2)
              %strong
                = " / 7"
          - if (@place.subcategory.category.name == "Travel & Transport" or @place.subcategory.category.name == "Shop & Service") and @s_r.present?
            %strong
              = "Servis Puanı"
            %br
              = @s_r.round(2)
              %strong
                = " / 7"


        .col-lg-5
          - if current_user
            - if current_user.place_ids.include?(@place.id)
              %br
                %strong
                  = "Mekan için oy ver"
                %hr

                %strong
                  = "Öneririm :"
                = rating_for @place, 'advice', star: 7, enable_half: true, half_show: true, cancel: true, cancel_place: 'right'
                %br
                - if @place.subcategory.category.name == "Food"
                  %strong
                    = "Lezzet :"
                  = rating_for @place, 'taste', star: 7, enable_half: true, half_show: true, cancel: true, cancel_place: 'right'
                  %br
                  %strong
                    = "Hizmet :"
                  = rating_for @place, 'service', star: 7, enable_half: true, half_show: true, cancel: true, cancel_place: 'right'
                  %br
                - if @place.subcategory.category.name == "Outdoors" or @place.subcategory.category.name == "Art & Entertainment"
                  %strong
                    = "Eğlence :"
                  = rating_for @place, 'fun', star: 7, enable_half: true, half_show: true, cancel: true, cancel_place: 'right'
                  %br
                - if @place.subcategory.category.name == "Travel & Transport" or @place.subcategory.category.name == "Shop & Service"
                  %strong
                    = "Hizmet :"
                  = rating_for @place, 'service', star: 7, enable_half: true, half_show: true, cancel: true, cancel_place: 'right'
                  %br

.col-lg-12
  .col-lg-6
    - if @place.comments.any?
      .panel.panel-default
        .panel-heading
          %i.icon-edit.icon-large
          = t('tt.show', resource_name: Comment.model_name.human)
        .panel-body
          - @place.comments.each do |c|
            = show_for c do |sc|
              = sc.attribute :sender_id do
                = link_to User.find(c.sender_id).name, user_profile_path(User.find(c.sender_id))
              = sc.attribute :body
              - if current_user and c.sender_id == current_user.id
                .btn
                  = link_to t('navbar.delete_comment'), place_comment_path(@place, c), method: :delete, class: 'btn btn-danger'
              %hr
  .col-lg-6
    - if current_user
      .panel.panel-default
        .panel-heading
          %i.icon-edit.icon-large
          = yield :form_title
        .panel-body
          = simple_form_for ([@place, @place.comments.build] )do |f|
            = f.error_notification
            .form-inputs
              = f.input :body
            .form-actions
              = f.button :submit, class: 'btn btn-primary'
.col-lg-12
  .panel.panel-default
    .panel-footer
      = link_to root_path, class: 'btn-link' do
        %i.fa.fa-arrow-left
        = t('btn.back')