!!!
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} - Visitors_book" : 'Visitors_book'
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Visitors_book")
    %meta(name="author" content="Visitors_book")
    %link(rel="shortcut icon" href="/images/favicon.png")
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

    = stylesheet_link_tag 'application', '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',
                          media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    .col-lg-1
    .col-lg-10
      = render 'layouts/partials/warnings'
      %nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => root_path} Visitors Book
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path } Ana Sayfa
            %li
              %a{:href => places_path } Mekanlar
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  = t('navbar.sign_out')
              %li
                = link_to user_profile_path(current_user) do
                  %i.fa.fa-user
                  = t('navbar.profile')
            - else
              %li
                = link_to new_user_session_path do
                  %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                  = t('navbar.signin')
              %li
                = link_to new_user_registration_path do
                  %i.fa.fa-user{"aria-hidden" => "true"}
                  = t('navbar.signup')
          %form.navbar-form.navbar-left
            .input-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
              .input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.glyphicon.glyphicon-search
      .panel-body
        = render partial: 'layouts/partials/messages'
        = yield
        %hr/
      .footer.container-fluid.text-center
        %p Visitors Book Copyright &copy; #{Time.zone.now.year} Tüm Hakları Saklıdır.